<po-page-default>
  <div class="po-row po-mb-1" style="justify-content: space-between; align-items: center;">
    <div class="po-md-9">
      <po-disclaimer-group
        [p-disclaimers]="filtersDisclaimber"
        p-title="Filtros"
        (p-remove)="removeDisclaimbers($event)"
        (p-remove-all)="removeAll()"
      >
      </po-disclaimer-group>
    </div>
    <div class="po-md-3" style=" align-items: end;">
      <div class="po-row" style="justify-content: end; gap: 10px">
        <po-dropdown p-label="Processar" [p-actions]="actionsDropdown"> </po-dropdown>
        <po-button 
          [p-icon]="filtered ? 'an-fill an-funnel' : 'an an-funnel'"
          p-label="Filtrar" 
          (p-click)="poPageSlide.open()"
        ></po-button>
      </div>
    </div>
  </div>
  <po-divider></po-divider>
  <po-table
    p-container="shadow"
    [p-hide-batch-actions]="false"
    [p-loading-show-more]="isLoading"
    [p-actions-right]="true"
    [p-hide-table-search]="true"
    [p-hide-columns-manager]="true"
    [p-selectable-entire-line]="true"
    [p-sort]="false"
    [p-striped]="true"
    [p-actions]="actions"
    [p-columns]="columns"
    [p-items]="items"
    [p-max-columns]="7"
    [p-virtual-scroll]="false"
    [p-show-more-disabled]="showMoreDisabled"
    (p-show-more)="showMore($event)"
  >
  </po-table>
  
  <po-modal p-title="Log de processamento" [p-primary-action]="confirmModal">
    <div class="po-row">
      <po-input 
        class="po-md-6"
        p-icon="an an-calendar-dots" 
        p-label="Data"
        [(ngModel)]="log.data"
        p-disabled
      > 
      </po-input>
      <po-input 
        class="po-md-6" 
        p-icon="an an-timer" 
        p-label="Hora"
        [(ngModel)]="log.hora"
        p-disabled
      > 
      </po-input>
    </div>
    <div class="po-row">
      <po-textarea 
        class="po-md-12" 
        name="log" 
        [(ngModel)]="log.detalhe" 
        p-label="Log processamento:" 
        [p-rows]="8"
        [p-disabled]="true"
       >
      </po-textarea>
    </div>
  </po-modal>
  
</po-page-default>

<po-page-slide p-title="Filtrar" p-size="xl" #pageSlide>
  <po-dynamic-form
    #dynamicForm
    [p-fields]="fieldsFilter"
    [p-value]="value"
  >
  </po-dynamic-form>

  <br />
  
  <div class="po-row">
    <po-button
    class="po-md-3"
    p-label="Salvar"
    (p-click)="salvar()"

    >
  </po-button>
</div>
<br />
</po-page-slide>


<po-loading-overlay
  [hidden]="isLoadingDialog"
>

</po-loading-overlay>